<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="testChrome">
        <parameter name="Browser" value="chrome"/>
        <classes>
            <class name="Tests.LoginPageTest">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInValidLogin"/>
                </methods>
            </class>
            <class name="Tests.ProductsPageTest">
                <methods>
                    <include name="testAffichageNomsProduits"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="testEdge">
        <parameter name="Browser" value="edge"/>
        <classes>
            <class name="Tests.LoginPageTest">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInValidLogin"/>
                </methods>
            </class>
            <class name="Tests.ProductsPageTest">
                <methods>
                    <include name="testAffichageNomsProduits"/>
                </methods>
            </class>
        </classes>
    </test>

<!-- Le test ne fonctionne pas avec Firefox, c'est pour cela on a travaillé avec Edge et Chrome

    <test verbose="2" preserve-order="true" name="testFirefox">-->
<!--        <parameter name="Browser" value="ff"/>-->
<!--        <classes>-->
<!--            <class name="Tests.LoginPageTest">-->
<!--                <methods>-->
<!--                    <include name="testValidLogin"/>-->
<!--                    <include name="testInValidLogin"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="Tests.ProductsPageTest">-->
<!--                <methods>-->
<!--                    <include name="testAffichageNomsProduits"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>